:root {
  --global-font-family: "Hedvig Letters Serif", "Noto Serif SC", "Songti SC", "Microsoft YaHei", serif;
  --header-title-font-family: "Hedvig Letters Serif", "Noto Serif SC", "Songti SC", "Microsoft YaHei", serif;
}

html,
body,
button,
input,
select,
textarea {
  font-family: "Hedvig Letters Serif", "Noto Serif SC", "Songti SC", "Microsoft YaHei", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Hedvig Letters Serif", "Noto Serif SC", "Songti SC", serif;
  font-weight: 600;
}
